{% extends 'main/base.html' %}

{% block title %}Upload a Video | MythMakers{% endblock %}

{% block content %}

<section class="container-fluid main-bg">

    <div class="jumbotron text-center upload">
        <h1 class="jumbotron-header">Upload a Video</h1>
        <hr class="my-4">
        <form id="uploadvideo" enctype="multipart/form-data" action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label class="upload-label" for="title">Video Title</label><br>
                    {{ form.title }}
            </div>
            <div class="form-group">
                <label class="upload-label" for="description">Video Description</label><br>
                    {{ form.description }}
            </div>
            <div class="form-group">
                <label class="upload-label" for="video_file">Upload Video</label><br>
                    {{ form.video_file }}
            </div>
            <div class="form-group">
                <label class="upload-label" for="thumbnail">Upload Video Thumbnail</label><br>
                    {{ form.thumbnail }}
            </div>
            <div class="form-group">
                {{ form.errors }}
            </div>
            <button type="submit" class="btn btn-outline-success">Upload</button>
        </form>
    </div>

</section>

{% endblock %}