{% extends 'main/base.html' %}
{% load static %}

{% block title %}Videos | MythMakers{% endblock %}

{% block content %}

<section class="container-fluid main-bg">
        <div class="col-xs-12 offset-md-2 col-md-9">
    
        {% for vid in grouped_videos %}
        <div class="row">
    
        {% for v in vid %}
    
        <div class="card user-card" style="width: 18rem;">
            <img src="{{ v.thumbnail.url }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ v.title }}</h5>
              <p class="card-text">Uploaded by <strong>{{ v.uploaded_by }}</strong></p>
              <a href="{% url 'video' v.id %}" class="btn btn-primary">Watch</a>
              <a href="#" class="btn btn-primary">Like</a>
            </div>
        </div>
    
        {% endfor %}
        </div>
    
        {% endfor %}
        </div>

        <a href="{% url 'uploadvideo' %}" class="btn btn-primary">Upload</a>
    
    </section>


{% endblock %}