{% extends 'main/base.html' %}
{% load static %}

{% block title %}Videos | MythMakers{% endblock %}

{% block content %}

<section class="container-fluid main-bg">

        <div class="col-xs-12 col-md-2 filter-div"><h4>Filters</h4></div>
        <div class="col-xs-12 col-md-9 video-list">
    
        {% for video in videos %}   
        
        <a href="{% url 'video' video.id %}" class="video-list-item">
          <div class="media">
            <img class="list-thumb" src="{{ video.thumbnail.url }}" alt="Thumbnail for {{ video.title }}">
            <div class="media-body">
              <h4 class="mt-0">{{ video.title }}</h5>
              <p>{{ video.uploaded_by }} | {{ video.date_posted }}</p>
              <p>{{ video.description }}</p>
              
            </div>
          </div>
        </a>
    
        {% endfor %}
        </div>
    </section>


{% endblock %}