{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ audio.title }} | MythMakers{% endblock %}

{% block content %}

<section class="container-fluid solid-bg">
    <div class="row">
        <div class="col-md-12 header-container">
            <img class="img-fluid profile-header" src="{{ audio.cover_image.url }}" alt="Cover image for {{ audio.title }}">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 offset-md-1 col-md-8 title-div">
            <h1 class="story-title">{{ audio.title }}</h1>
            <p><em>{{ audio.description }}</em></p>
            <p><strong><a href="{% url 'publicprofile' creator.id %}">{{ audio.creator }}</a> |
                    {{ audio.date_posted }}</strong></p>

        </div>

        <div class="col-sm-12 col-lg-3 like-div">
            <form id="like_audio" action="{% url 'like_audio' audio.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success">
                    <i class="fas fa-heart"></i>
                </button>
                Audio liked {{ audio.audio_likes }} time{% if audio.audio_likes == 1 %}{% else %}s{% endif %}
            </form>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12 offset-lg-1 col-lg-8 story-div">
            <div class="audio-div">
                <audio controls>
                    <source src="{{ audio.audio_file.url }}" type="audio/ogg">
                </audio>
            </div>
        </div>

        <div class="col-sm-12 col-lg-3 side-div">
            <h4>More from {{ audio.creator }}</h4>
            {% if more_audios.count <= 1 %}
            <p>This user has not uploaded any more audios.</p>
            {% else %}
            {% for more in more_audios %}
            {% if more.title != audio.title %}
            <a class="story-list-item" href="{% url 'audio' more.id %}">
                <div class="more-item">
                    <img class="list-thumb" src="{{ more.audio_thumbnail.url }}" alt="Thumbnail for {{ more.title }}">
                    <div class="item-body">
                        <p class="more-title">{{ more.title }}</p>
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- Trigger delete modal -->
    <div class="row">
        <div class="col-sm-12 offset-lg-1 col-lg-8 delete-div">
            {% if request.user == audio.creator %}
            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#deleteModal"><i
                    class="fas fa-trash-alt"></i></button>
            {% endif %}
        </div>
    </div>

    <hr>

    <!-- Comments Section -->
    <div class="row">
        <div class="col-sm-12 offset-lg-1 col-lg-8">
            <h2 class="comment-header">Comments ({{ comments_count }})</h2>
        </div>
    </div>
    {% for comment in comments %}
    <div class="row">
        <div class="col-sm-12 offset-lg-1 col-lg-8">
            <p class="comment-body">{{ comment.comment }}</p>
            <p class="comment-info">{{ comment.commenter }} | {{ comment.created }}</p>
        </div>
    </div>
    {% endfor %}

    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-sm-12 offset-lg-1 col-lg-8 comment-button">
            <form id="audio_comment" action="{% url 'audio' audio.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.comment }}
                </div>
                <button type="submit" class="btn btn-outline-success">Comment</button>
            </form>
        </div>
        {% else %}
        <div class="col-sm-12 offset-lg-1 col-lg-8 comment-button">
            <p><a href="{% url 'register' %}">Register</a> to comment on this story</p>
        </div>
        {% endif %}
    </div>


</section>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLongTitle">Delete Story?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete {{ audio.title }}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-dismiss="modal">Close</button>
                <form id="delete_story" action="{% url 'deleteaudio' audio.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success">Confirm Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}