{% extends 'main/base.html' %}
{% load static %}

{% block title %}Audio | MythMakers{% endblock %}

{% block content %}

<section class="container-fluid main-bg">

        <div class="col-xs-12 col-md-2 filter-div"><h4>Filters</h4></div>
        <div class="col-xs-12 col-md-8 audio-list">
        
            {% for audio in audios %}

            <a href="{% url 'audio' audio.id %}" class="audio-list-item">
                <div class="media">
                    <img class="list-thumb" src="{{ audio.audio_thumbnail.url }}">
                    <div class="media-body">
                        <h4 class="mt-0">{{ audio.title }}</h4>
                        <p>{{ audio.creator }} | {{ audio.date_posted }}</p>
                        <p>{{ audio.description }}</p>
                    </div>
                </div>
            </a>

            {% endfor %}
        </div>

        <div class="col-xs-12 col-md-2 upload-div">
            {% if mythmaker_membership.membership_id == 2 %}
            <a href="{% url 'uploadaudio' %}" class="btn btn-outline-success">Upload</a>
            {% elif mythmaker_membership.membership_id == 1 %}
            <h4>Upgrade</h4>
            <p>Upgrade to Premium to upload your own audio.</p>
            <a class="btn btn-outline-success" href="{% url 'benefits' %}" role="button">Upgrade</a>
            {% elif mythmaker_membership is None %}
            <h4>Register</h4>
            <p>Register to save videos to your favourites</p>
            <a class="btn btn-outline-success" href="{% url 'register' %}" role="button">Register</a>
            {% endif %}
        </div>
        
    </section>


{% endblock %}