{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ audio.title }} | MythMakers{% endblock %}

{% block content %}

<section class="container-fluid solid-bg">
    <div class="row">
        <div class="col-md-12 header-container">
            <img class="img-fluid profile-header" src="{{ audio.cover_image.url }}">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 offset-md-1 col-md-8 title-div">
            <h1>{{ audio.title }}</h1>
            <p><em>{{ audio.description }}</em></p>
            <p><strong>{{ audio.creator }} | {{ audio.date_posted }}</strong></p>
        </div>

        <div class="col-xs-12 col-md-3 side-div">
            <h4>More from {{ audio.creator }}</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 offset-md-1 col-md-10 story-div">
            <audio controls>
                <source src="{{ audio.audio_file.url }}" type="audio/ogg">
            </audio>
        </div>
    </div>

    <div class="row">
        <form id="like_audio" action="{% url 'like_audio' audio.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-success">Like</button>
        </form>
        {{ audio.audio_likes }}
    </div>

    {% for comment in comments %}
    <div class="row">
        <div>
            <p>{{ comment.comment }}</p>
            <p>{{ comment.commenter }} | {{ comment.created }}</p>
        </div>
    </div>
    {% endfor %}


    <div class="row">
            <form id="audio_comment" action="{% url 'audio' audio.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.comment }}
                </div>
                <button type="submit" class="btn btn-outline-success">Comment</button>
            </form>
        </div>
</section>

{% endblock %}