{% extends 'main/base.html' %}

{% block title %}Activate Your Account | MythMakers{% endblock %}

{% block content %}

<section class="container-fluid main-bg">

<div class="jumbotron text-center">
    <h1 class="jumbotron-header">Thank you for registering</h1>
    <hr class="my-4">
    <p class="lead">You should receive an email shortly. Please click on the link included within the email to confirm your email address and activate your MythMaker account.</p>
    <p>We look forward to telling stories with you very soon!</p>
    <hr class="my-4">
    <p>Not received the email? <a href="#">Click here</a> and we will resend it to you.</p>
</div>

</section>

{% endblock %}