{% extends 'main/base.html' %}
{% load static %}

{% block title %}Edit Profile for {{ user.username }} | MythMakers{% endblock %}

{% block content %}

<section class="container-fluid">
    <div class="row">
        <div class="col-md-12 header-container">
            {% if user.mythmaker.profile_header == '' %}
            <img class="img fluid profile-header" src="{% static 'images/default-header.png' %}">
            {% else %}
            <img class="img-fluid profile-header" src="{{ user.mythmaker.profile_header.url }}">
            {% endif %}
        </div>
    </div>
</section>

<section class="container-fluid">
    <div class="row">
        <div class="col-xs-12 offset-md-1 col-md-2 user-details">
            {% if user.mythmaker.profile_image == '' %}
            <img class="img-fluid" src="{% static 'images/default-profile.png' %}">
            {% else %}
            <img class="img-fluid" src="{{ user.mythmaker.profile_image.url }}">
            {% endif %}
            <form method="POST" action=''>
                {% csrf_token %}
                <h3>{{ user.username }}</h3>
                <p>{{ user_membership.membership.get_membership_type_display }} Member</p>
                <p><strong>Tagline</strong><br/>{{ form.tagline }}</p>
                <p><strong>Bio</strong><br/>{{ form.bio }}</p>
                <div>
                    <button type="submit" class="btn btn-outline-success edit-btn">Submit</button>
                </div>
            </form>
        </div>

        <div class="col-xs-12 col-md-8 activity-pane">
            <h3>Activity</h3>
            <hr>
        </div>
    </div>
</section>

{% endblock %}