{% extends 'main/base.html' %}

{% block title %}Login | MythMakers{% endblock %}

{% block content %}

<section class="container-fluid main-bg">

    <div class="jumbotron text-center">
        <h1 class="jumbotron-header">Login to your account</h1>
        <hr class="my-4">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                    {{ form.username }}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                    {{ form.password }}
            </div>
            <div class="form-group">
                {{ form.errors }}
            </div>
            <button type="submit" class="btn btn-outline-success">Login</button>
        </form>

        <div class="form-group">
            <p class="jumbotron-text">Forgot your password? <a href="{% url 'password_reset' %}">Click here</a> to reset</p>
        </div>
    </div>

</section>

{% endblock %}