{% extends 'main/base.html' %}

{% block title %}Profile for {{ username }} | MythMakers{% endblock %}

{% block content %}

<section class="container-fluid">
    <div class="row">
        <div class="col-md-12 header-img">
        </div>
    </div>
</section>

<section class="container-fluid">
    <div class="row">
        <div class="col-xs-12 offset-md-1 col-md-2 user-details">
            <img class="img-fluid" src="https://dummyimage.com/250x250/233237/fff.png&text=Profile+Image">
            <h3>{{ username }}</h3>
            <p>{{ user_membership.membership.get_membership_type_display }} Member</p>
            <p><em>{{ user.mythmaker.tagline }}</em></p>
            <p>Joined {{ user.date_joined }}</p>
            <p><strong>Bio</strong><br/>{{ user.mythmaker.bio }}</p>
        </div>

        <div class="col-xs-12 col-md-8 activity-pane">
            <h3>Activity</h3>
            <hr>
        </div>
    </div>
</section>

<section class="container-fluid dark-section">
    {% if user_membership.membership.pk == 2 %}
    <div class="row text-center">
        <h4>Your Premium Membership</h4>
        <p>You are a Premium MythMaker</p>
        <a class="btn btn-outline-success btn-lg" href="#" role="button">Cancel Subscription</a>
    </div>
    {% else %}
    <div class="row text-center">
        <h4>Upgrade to Premium</h4>
        <a class="btn btn-outline-success btn-lg" href="{% url 'benefits' %}" role="button">Upgrade Now</a>
    </div>
    {% endif %}
</section>

{% endblock %}