{% extends 'main/base.html' %}

{% block title %}Profile for {{ username }} | MythMakers{% endblock %}

{% block content %}

<section class="container-fluid">
    <div class="row">
        <div class="col-md-12 header-img">
        </div>
    </div>
</section>

<section class="container-fluid">
    <div class="row">
        <div class="col-xs-12 offset-md-1 col-md-2 user-details">
            <img class="img-fluid" src="https://dummyimage.com/250x250/233237/fff.png&text=Profile+Image">
            <h3>{{ username }}</h3>
            <p><em>{{ user.mythmaker.tagline }}</em></p>
            <p>Joined {{ user.date_joined }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Bio</strong><br/>{{ user.mythmaker.bio }}</p>
        </div>

        <div class="col-xs-12 col-md-8 activity-pane">
            <h3>Activity</h3>
            <hr>
        </div>
    </div>
</section>

<section class="container-fluid dark-section">
    
    <div class="row text-center">
        <h4>Upgrade to Premium</h4>
        <a class="btn btn-outline-success btn-lg" href="{% url 'benefits' %}" role="button">Upgrade Now</a>
    </div>
    
</section>

{% endblock %}