{% extends 'main/base.html' %}
{% load static %}

{% block title %}Profile for {{ mythmaker_user.username }} | MythMakers{% endblock %}

{% block content %}

<section class="container-fluid">
    <div class="row">
        <div class="col-md-12 header-container">
            {% if mythmaker_user.mythmaker.profile_header == '' %}
            <img class="img fluid profile-header" src="{% static 'images/default-header.png' %}">
            {% else %}
            <img class="img-fluid profile-header" src="{{ mythmaker_user.mythmaker.profile_header.url }}">
            {% endif %}
        </div>
    </div>
</section>

<section class="container-fluid profile-bg">
    <div class="row">
        <div class="col-xs-12 offset-md-1 col-md-2 user-details">
            {% if mythmaker_user.mythmaker.profile_image == '' %}
            <img class="img-fluid" src="{% static 'images/default-profile.png' %}">
            {% else %}
            <img class="img-fluid" src="{{ mythmaker_user.mythmaker.profile_image.url }}">
            {% endif %}
            <h3>{{ mythmaker_user.username }}</h3>
            <p>{{ mythmaker_membership.membership.get_membership_type_display }} Member</p>
            <p><em>{{ mythmaker_user.mythmaker.tagline }}</em></p>
            <p>Joined {{ mythmaker_user.date_joined }}</p>
            <p><strong>Bio</strong><br/>{{ mythmaker_user.mythmaker.bio }}</p>
        </div>

        <div class="col-xs-12 col-md-8 activity-pane">
            <h3>Activity</h3>
            <hr>

            <div class="display-buttons">
                    <button class="btn display-btn selected" id="show-stories">Stories</button>
                    <button class="btn display-btn deselected" id="show-videos">Videos</button>
                    <button class="btn display-btn deselected" id="show-audios">Audios</button>
                </div>
    
                <div class="display-container">
    
                <div class="d-block" id="story-results">
                        <h4>Uploaded Stories</h4>
                        {% if stories.count == 0 %}
                        <p class="profile-body">This user has not uploaded any stories.</p>
                        {% else %}
                        {% for story in stories %}
                    
                        <a href="{% url 'story' story.id %}" class="profile-list-item">
                            <div class="profile-item">
                                <div class="row">
                                    <div class="profile-image col-sm-12 col-lg-3">
                                        <img class="list-thumb" src="{{ story.story_thumbnail.url }}">
                                    </div>                            
                                <div class="profile-item-body col-sm-12 col-lg-9">
                                    <h4 class="mt-0">{{ story.title }}</h4>
                                    <p>{{ story.author }} | {{ story.date_posted }}</p>
                                    <p>{{ story.synopsis }}</p>
                                </div>
                            </div>
                        </div>
                        </a>
                    
                        {% endfor %}
                        {% endif %}
                        <hr>
                        <h4>Liked Stories</h4>
                        {% if story_likes.count == 0 %}
                        <p class="profile-body">This user has not liked any stories.</p>
                        {% else %}
                        {% for liked_story in story_likes %}
                        <a href="{% url 'story' liked_story.story.id %}" class="profile-list-item">
                                <div class="profile-item">
                                    <div class="row">
                                        <div class="profile-image col-sm-12 col-lg-3">
                                            <img class="list-thumb" src="{{ liked_story.story.story_thumbnail.url }}">
                                        </div>
                                        <div class="profile-item-body col-sm-12 col-lg-9">
                                            <h4 class="mt-0">{{ liked_story.story.title }}</h4>
                                            <p>{{ liked_story.story.author }} | {{ liked_story.story.date_posted }}</p>
                                            <p>{{ liked_story.story.synopsis }}</p>
                                        </div>
                                    </div>                                
                                </div>
                            </a>
                        {% endfor %}
                        {% endif %}
                    </div>
    
                <div class="d-none" id="video-results">
                    <h4>Uploaded Videos</h4>
                    {% if videos.count == 0 %}
                        <p class="profile-body">This user has not uploaded any videos.</p>
                    {% else %}
                    {% for video in videos %}   
                        
                    <a href="{% url 'video' video.id %}" class="profile-list-item">
                        <div class="profile-item">
                            <div class="row">
                                <div class="profile-image col-sm-12 col-lg-3">
                                    <img class="list-thumb" src="{{ video.thumbnail.url }}" alt="Thumbnail for {{ video.title }}">
                                </div>
                                <div class="profile-item-body col-sm-12 col-lg-9">
                                        <h4 class="mt-0">{{ video.title }}</h5>
                                        <p class="profile-body"><strong>{{ video.uploaded_by }} | {{ video.date_posted }}</strong></p>
                                        <p class="profile-body">{{ video.description }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    
                    {% endfor %}
                    {% endif %}
                    <hr>
    
                    <h4>Liked Videos</h4>
                    {% if video_likes.count == 0 %}
                    <p class="profile-body">This user has not liked any videos.</p>
                    {% else %}
                    {% for liked_video in video_likes %}
                    <a href="{% url 'video' liked_video.video.id %}" class="profile-list-item">
                            <div class="profile-item">
                                <div class="row">
                                    <div class="profile-image col-sm-12 col-lg-3">
                                        <img class="list-thumb" src="{{ liked_video.video.thumbnail.url }}" alt="Thumbnail for {{ video.title }}">
                                    </div>                                                        
                                    <div class="profile-item-body col-sm-12 col-lg-9">
                                        <h4 class="mt-0">{{ liked_video.video.title }}</h5>
                                        <p><strong>{{ liked_video.video.uploaded_by }} | {{ liked_video.video.date_posted }}</strong></p>
                                        <p>{{ liked_video.video.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    {% endif %}
                </div>
    
                <div class="d-none" id="audio-results">
                    <h4>Uploaded Audios</h4>
                    {% if audios.count == 0 %}
                    <p class="profile-body">This user has not uploaded any audios.</p>
                    {% else %}
                    {% for audio in audios %}
                
                    <a href="{% url 'audio' audio.id %}" class="profile-list-item">
                        <div class="profile-item">
                            <div class="row">
                                <div class="profile-image col-sm-12 col-lg-3">
                                    <img class="list-thumb" src="{{ audio.audio_thumbnail.url }}">
                                </div>
                                <div class="profile-item-body col-sm-12 col-lg-9">
                                    <h4 class="mt-0">{{ audio.title }}</h4>
                                    <p>{{ audio.creator }} | {{ audio.date_posted }}</p>
                                    <p>{{ audio.description }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                
                    {% endfor %}
                    {% endif %}
                    <hr>
    
                    <h4>Liked Audios</h4>
                    {% if audio_likes.count == 0 %}
                    <p class="profile-body">This user has not liked any audios.</p>
                    {% else %}
                    {% for liked_audio in audio_likes %}
                    <a href="{% url 'audio' liked_audio.audio.id %}" class="profile-list-item">
                        <div class="profile-item">
                            <div class="row">
                                <div class="profile-image col-sm-12 col-lg-3">
                                    <img class="list-thumb" src="{{ liked_audio.audio.audio_thumbnail.url }}">
                                </div>
                                <div class="profile-item-body col-sm-12 col-lg-9">
                                    <h4 class="mt-0">{{ liked_audio.audio.title }}</h4>
                                    <p>{{ liked_audio.audio.creator }} | {{ liked_audio.audio.date_posted }}</p>
                                    <p>{{ liked_audio.audio.description }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
    
                    {% endfor %}
                    {% endif %}
                </div>



        </div>
    </div>
</section>

{% endblock %}