{% extends 'main/base.html' %}

{% block title %}Reset Your Password | MythMakers{% endblock %}

{% block content %}

<section class="container-fluid main-bg">

    <div class="jumbotron text-center">
        <h1 class="jumbotron-header">Reset Your Password</h1>
        <hr class="my-4">
        <p class="lead">Confirm your email address to request a password reset.</p>
        <hr class="my-4">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form }}
            </div>
            <button type="submit" class="btn btn-outline-success">Reset</button>
        </form>
    </div>

</section>

{% endblock %}