{% extends 'main/base.html' %}

{% block title %}Payment successful | MythMakers{% endblock %}

{% block content %}

<section class="container-fluid main-bg">

    <div class="jumbotron text-center">
        <h1 class="jumbotron-header">Success!</h1>
        <hr class="my-4">
        <p class="lead">You have successfully upgraded your membership and become a Premium MythMaker!</p>
        <p>You can now upload stories in both audio and video format, along with a range of other benefits.</p>
        <a class="btn btn-outline-success btn-lg" href="{% url 'profile' %}" role="button">Your Profile</a>
        

    </div>

</section>

{% endblock %}