{% extends 'main/base.html' %}

{% block title %}Sorry... | MythMakers{% endblock %}

{% block content %}

<section class="container-fluid main-bg">

    <div class="jumbotron text-center">
        <h1 class="jumbotron-header">Sorry...</h1>
        <hr>
        <p class="jumbotron-text">There was an internal server error.</p>
        <p class="jumbotron-text">Please try again soon.</p>
        <a href="{% url 'index' %}" class="btn btn-outline-success btn-lg">Home</a>

    </div>

</section>

{% endblock %}