{% extends 'main/base.html' %}
{% load static %}

{% block title %}Welcome to MythMakers | MythMakers{% endblock %}

{% block content %}

<section class="container-fluid solid-bg">

    <div class="row">
        <div class="col-md-12 header-container">
            <img class="img-fluid profile-header" src="{% static 'images/default-header.png' %}"
                alt="About MythMakers image">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 offset-md-1 col-md-8 title-div">
            <h1>Welcome to MythMakers</h1>
            <p><strong>MythMakers is an online storytelling community using the power of the internet to create new and
                    exciting stories in a range of
                    media forms</strong></p>

            <p>Humanity has always been a race of storytellers. In the past it was how we communicated important
                information, how we made sense of the world around us and how we built a sense of community, through
                shared common experiences.</p>
            <p>Throughout the course of human history, we have been resourceful in finding new ways of telling those
                stories. From ancient cave paintings to Egyptian hieroglyphics all the way to graffiti and emojis,
                there's no limit to the new ways we can find to communicate thoughts, feelings and emotions with each
                other.</p>
            <p>With the advent of the internet, a whole world of new opportunities opened up. Over time, we realised
                that the tools we needed to tell stories in new and innovative ways were right at our fingertips, easily
                accessible and instantly available. Not only could authors stretch their influence to reach new readers
                all over the world, but new media forms became available for writers and storytellers to weave their
                magic.</p>
            <p>YouTube and other video-sharing sites have become a hotbed of hugely creative visual storytelling
                experiments. The innovations that make podcasting easy and accessible have given rise to a whole new
                wave of audio drama that builds worlds and paints vivid pictures with nothing but sound.</p>
            <p>But even with these new formats of storytelling, there was still a key part of humanity's fascination
                with storytelling missing: the community.</p>

            <hr>

            <h2>Shared Stories</h2>
            <p>It was this community aspect that was the germ of an idea that blossomed into
                <strong>MythMakers</strong>.</p>
            <p>Where our ancestors may have gathered around a fire to tell stories, nowadays we congregate on the
                internet. But many of the places people gather are focused on telling a specific type of story, rather
                than the act of telling a story itself.</p>
            <p>But what about the people who don't have a specific type of story they want to tell, just that urge to
                tell stories in a range of formats and styles? Where did they have to go?</p>
            <p>For the longest time, the answer was nowhere. But now they have <strong>MythMakers</strong>, a safe and
                supportive community where storytellers from all backgrounds can come and share their stories.</p>

            <hr>

            <h2>Our Values</h2>
            <p>We are invested in providing a space for talented storytellers to exercise their skills and craft. That
                is our main priority, and it always will be.</p>
            <p>We don't claim copyright on any stories uploaded to the site, we simply offer a place for you to host
                your stories for sharing and community purposes. You can check our <a href="{% url 'privacy' %}"
                    target="_blank">Privacy Policy</a> for more details.</p>
            <p>We're also dedicated to remaining ad-free. While that does mean that your stories will never be
                associated with any products or companies you don't want them to be, it unfortunately means that we
                don't make any revenue from the site.</p>
            <p>That's where <strong>MythMakers Premium</strong> comes in. For a small payment of £5 per month, Premium
                Members are given the ability to upload stories in both <strong>video</strong> and
                <strong>audio</strong> formats.</p>
            <p>While we value and cherish each and every member of the <strong>MythMakers</strong> community, it's the
                Premium Members who keep the lights on, and we're endlessly grateful!</p>

            <hr>
        </div>

        <div class="col-xs-12 col-md-2 side-div">
            <h4>Interested?</h4>
            <p>Become a MythMaker and join the internet's newest storytelling community</p>
            <a class="btn btn-outline-success btn-lg" href="{% url 'register' %}" role="button">Register</a>
        </div>
    </div>

</section>

{% endblock %}