{% extends 'main/base.html' %}
{% load static %}

{% block title %}Welcome to MythMakers | MythMakers{% endblock %}

{% block content %}

<section class="container-fluid solid-bg">

    <div class="row">
        <div class="col-md-12 header-container">
            <img class="img-fluid profile-header" src="{% static 'images/default-header.png' %}" alt="About MythMakers image">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 offset-md-1 col-md-8 title-div">
            <h1>Welcome to MythMakers</h1>
                <p><strong>MythMakers is an online storytelling community using the power of the internet to create new and exciting stories in a range of 
                media forms</strong></p>

                <p>Lorem ipsum dolor amet prism drinking vinegar waistcoat roof party beard. Adaptogen roof party four dollar toast banh mi af intelligentsia
                     cred squid taiyaki messenger bag williamsburg. Salvia sustainable pickled, 3 wolf moon scenester gluten-free try-hard. Taiyaki etsy cred neutra fam woke.</p>
                <p>Wolf succulents offal celiac deep v etsy PBR&B organic taiyaki irony swag vape bicycle rights intelligentsia narwhal. Distillery pok pok quinoa humblebrag, 
                    chillwave irony tumblr 8-bit lumbersexual migas shaman keffiyeh tattooed. Squid hot chicken mlkshk hexagon art party sustainable. Synth skateboard af hella, 
                    tbh plaid tattooed brunch. Retro hashtag etsy roof party everyday carry, neutra poke four dollar toast succulents. Locavore fingerstache live-edge, tote bag
                     food truck affogato bitters palo santo yuccie kinfolk lo-fi selvage. Single-origin coffee copper mug pop-up humblebrag chambray keffiyeh.</p>
                <p>Sartorial pour-over shaman austin, ugh brunch waistcoat church-key. Copper mug neutra whatever post-ironic aesthetic cold-pressed unicorn palo santo. Sriracha 
                    yr gentrify cloud bread jean shorts. Godard helvetica hammock tofu live-edge pop-up ugh gastropub tilde lumbersexual kale chips meggings hell of schlitz. Kombucha 
                    meditation blue bottle, helvetica sustainable franzen migas before they sold out cronut raw denim. Portland celiac cliche slow-carb letterpress vice street art 
                    waistcoat craft beer blue bottle ethical bushwick green juice vegan selvage.</p>
                <p>Jianbing succulents mixtape semiotics woke cold-pressed. Cronut copper mug sartorial celiac master cleanse. Pop-up celiac sustainable godard. Cray pinterest jean
                     shorts salvia, readymade taxidermy brooklyn green juice hammock yuccie gluten-free celiac taiyaki hot chicken. Authentic kale chips small batch pitchfork leggings
                      normcore poke meditation cold-pressed raw denim. Celiac quinoa vegan, 8-bit fixie poke echo park offal photo booth microdosing shoreditch distillery jean shorts.
                       DIY godard heirloom, ethical knausgaard mixtape portland street art offal schlitz.</p>
                <p>Sustainable dreamcatcher woke literally normcore unicorn tumeric prism. +1 jean shorts artisan, selfies kombucha actually iceland portland schlitz gentrify literally 
                    pour-over vegan cold-pressed kitsch. Stumptown thundercats tattooed, tofu skateboard church-key butcher meh affogato mumblecore. Microdosing 90's swag keffiyeh.</p>
        </div>

        <div class="col-xs-12 col-md-2 side-div">
            <h4>Interested?</h4>
            <p>Become a MythMaker and join the internet's newest storytelling community</p>
            <a class="btn btn-outline-success btn-lg" href="{% url 'register' %}" role="button">Register</a>
        </div>
    </div>

</section>

{% endblock %}