{% extends 'main/base.html' %}

{% block title %}MythMakers | Online Storytelling Community{% endblock %}

{% block content %}

{% load static %}

<section class="container-fluid main-bg">

    <div class="jumbotron text-center">
        <img class="img-fluid" src="{% static 'images/mythmakers-lg.png' %}" alt="MythMakers Logo">
        <p class="lead">An online storytelling community for multimedia creators.</p>
        <hr class="my-4">
        <a class="btn btn-outline-success btn-lg" href="#" role="button">Explore</a>
      </div>
    
</section>

<section class="dark-section">
    <div class="row">
        <div class="col-xs-12 offset-md-1 col-md-10 latest-col">
            <h4>Latest Prose</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 offset-md-1 col-md-10 latest-col">
            <h4>Latest Video</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 offset-md-1 col-md-10 latest-col">
            <h4>Latest Audio</h4>
        </div>
    </div>
</section>

{% endblock %}