{% extends 'main/base.html' %}
{% load static %}

{% block title %}Search Results | MythMakers{% endblock %}

{% block content %}

<section class="container-fluid main-bg">

    <div class="row">

        <div class="col-sm-12 col-xl-2 filter-div">
            <h4>Search Results for '{{ query }}'</h4>
        </div>

        <div class="col-sm-12 col-xl-8 video-list">
        
        <button class="btn" id="show-videos">Videos</button>
        <button class="btn" id="show-stories">Stories</button>
        <button class="btn" id="show-audios">Audios</button>
        <button class="btn" id="show-users">Creators</button>

        <div class="d-block" id="video-results">
                <div class="col-sm-12 col-xl-8 story-list">    
                {% for video in videos %}                           
                <a href="{% url 'video' video.id %}" class="video-list-item">
                    <div class="story-item">
                        <div class="row">
                            <div class="story-image col-sm-12 col-lg-3">
                                <img class="list-thumb" src="{{ video.thumbnail.url }}" alt="Thumbnail for {{ video.title }}">
                            </div>
                            <div class="story-item-body col-sm-12 col-lg-9">
                                <h4 class="mt-0">{{ video.title }}</h5>
                                <p class="user-info">{{ video.uploaded_by }} | {{ video.date_posted }}</p>
                                <p class="community-info"><i class="fas fa-heart"> </i>{{ video.video_likes }} <i class="fas fa-comments"></i> {{ video.video_comment_count }}</p>
                                <p>{{ video.description }}</p>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

        <div class="d-none" id="story-results">
            <div class="col-sm-12 col-xl-8 story-list">        
                {% for story in stories %}
                <a href="{% url 'story' story.id %}" class="story-list-item">
                    <div class="story-item">
                        <div class="row">
                            <div class="story-image col-sm-12 col-lg-3">
                                <img class="list-thumb" src="{{ story.story_thumbnail.url }}">
                            </div>
                            <div class="story-item-body col-sm-12 col-lg-9">
                                <h4 class="mt-0">{{ story.title }}</h4>
                                    <p class="user-info">{{ story.author }} | {{ story.date_posted }}</p>
                                    <p class="community-info"><i class="fas fa-heart"></i> {{ story.story_likes }}  <i class="fas fa-comments"></i> {{ story.story_comment_count }}</p>
                                    <p>{{ story.synopsis }}</p>
                            </div>
                        </div>
                    </div>
                </a>            
                {% endfor %}
            </div>
        </div>

        <div class="d-none" id="audio-results">
            <div class="col-sm-12 col-xl-8 story-list">        
                {% for audio in audios %}
                <a href="{% url 'audio' audio.id %}" class="story-list-item">
                    <div class="story-item">
                        <div class="row">
                            <div class="story-image col-sm-12 col-lg-3">
                                <img class="list-thumb" src="{{ audio.audio_thumbnail.url }}">
                            </div>
                            <div class="story-item-body col-sm-12 col-lg-9">
                                <h4 class="mt-0">{{ audio.title }}</h4>
                                    <p class="user-info">{{ audio.creator }} | {{ audio.date_posted }}</p>
                                    <p class="community-info"><i class="fas fa-heart"></i> {{ audio.audio_likes }} | <i class="fas fa-comments"></i> {{ audio.audio_comment_count }}</p>
                                    <p>{{ audio.description }}</p>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        

        <div class="d-none" id="user-results">
        {% for mythmaker in mythmakers %}

        <a href="{% url 'publicprofile' mythmaker.id %}" class="user-list-item">
            <div class="card user-card" style="width: 18rem;">
                {% if mythmaker.mythmaker.profile_image == '' %}
                <img src="{% static 'images/default-profile.png' %}" class="card-img-top">
                {% else %}
                <img src="{{ mythmaker.mythmaker.profile_image.url }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title">{{ mythmaker.username }}</h5>
                    <p class="card-text">{{ mythmaker.mythmaker.tagline }}</p>
                </div>
            </div>
        </a>


        {% endfor %}
        </div>


        </div>

        <div class="col-sm-12 col-xl-2 upload-div">
          {% if mythmaker_membership.membership_id == 2 %}
          <a href="{% url 'uploadvideo' %}" class="btn btn-outline-success">Upload</a>
          {% elif mythmaker_membership.membership_id == 1 %}
          <h4>Upgrade</h4>
          <p>Upgrade to Premium to upload your own videos.</p>
          <a class="btn btn-outline-success" href="{% url 'benefits' %}" role="button">Upgrade</a>
          {% elif mythmaker_membership is None %}
          <h4>Register</h4>
          <p>Register to save videos to your favourites</p>
          <a class="btn btn-outline-success" href="{% url 'register' %}" role="button">Register</a>
          {% endif %}
        </div>

    </div>
        
    </section>


{% endblock %}