{% extends 'main/base.html' %}
{% load static %}

{% block title %}Search Results | MythMakers{% endblock %}

{% block content %}

<section class="container-fluid main-bg">

        <div class="col-xs-12 col-md-2 filter-div"><h4>Search Results for '{{ query }}'</h4></div>
        <div class="col-xs-12 col-md-8 video-list">
        
        <a id="button" href="#">Videos</a> | <a id="button2" href="#">Stories</a> | <a id="button3" href="#">Audios</a> | <a id="button4" href="#">Creators</a>
        <div id="video-results">
        {% for video in videos %}   
        
        <a href="{% url 'video' video.id %}" class="video-list-item">
          <div class="media">
            <img class="list-thumb" src="{{ video.thumbnail.url }}" alt="Thumbnail for {{ video.title }}">
            <div class="media-body">
              <h4 class="mt-0">{{ video.title }}</h5>
              <p>{{ video.uploaded_by }} | {{ video.date_posted }}</p>
              <p>{{ video.description }}</p>
              
            </div>
          </div>
        </a>
    
        {% endfor %}
        </div>

        <div id="story-results">
        {% for story in stories %}

        <a href="{% url 'story' story.id %}" class="story-list-item">
            <div class="media">
                <img class="list-thumb" src="{{ story.story_thumbnail.url }}">
                <div class="media-body">
                    <h4 class="mt-0">{{ story.title }}</h4>
                    <p>{{ story.author }} | {{ story.date_posted }}</p>
                    <p>{{ story.synopsis }}</p>
                </div>
            </div>
        </a>

        {% endfor %}
        </div>

        <div id="audio-results">
        {% for audio in audios %}

        <a href="{% url 'audio' audio.id %}" class="audio-list-item">
            <div class="media">
                <img class="list-thumb" src="{{ audio.audio_thumbnail.url }}">
                <div class="media-body">
                    <h4 class="mt-0">{{ audio.title }}</h4>
                    <p>{{ audio.creator }} | {{ audio.date_posted }}</p>
                    <p>{{ audio.description }}</p>
                </div>
            </div>
        </a>

        {% endfor %}
        </div>

        <div id="user-results">
        {% for mythmaker in mythmakers %}

        <a href="{% url 'publicprofile' mythmaker.id %}" class="user-list-item">
            <div class="card user-card" style="width: 18rem;">
                {% if mythmaker.mythmaker.profile_image == '' %}
                <img src="{% static 'images/default-profile.png' %}" class="card-img-top">
                {% else %}
                <img src="{{ mythmaker.mythmaker.profile_image.url }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title">{{ mythmaker.username }}</h5>
                    <p class="card-text">{{ mythmaker.mythmaker.tagline }}</p>
                </div>
            </div>
        </a>


        {% endfor %}
        </div>


        </div>

        <div class="col-xs-12 col-md-2 upload-div">
          {% if mythmaker_membership.membership_id == 2 %}
          <a href="{% url 'uploadvideo' %}" class="btn btn-outline-success">Upload</a>
          {% elif mythmaker_membership.membership_id == 1 %}
          <h4>Upgrade</h4>
          <p>Upgrade to Premium to upload your own videos.</p>
          <a class="btn btn-outline-success" href="{% url 'benefits' %}" role="button">Upgrade</a>
          {% elif mythmaker_membership is None %}
          <h4>Register</h4>
          <p>Register to save videos to your favourites</p>
          <a class="btn btn-outline-success" href="{% url 'register' %}" role="button">Register</a>
          {% endif %}
        </div>
        
    </section>


{% endblock %}