{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ story.title }} | MythMakers{% endblock %}

{% block content %}

<section class="container-fluid">
    <div class="row">
        <div class="col-md-12 header-container">
            <img class="img-fluid profile-header" src="{{ story.cover_image.url }}">
        </div>
    </div>

</section>

<section class="container-fluid">
    <div class="row">
        <div class="col-xs-12 offset-md-1 col-md-10 story-div">
            <h1>{{ story.title }}</h1>
            <p>{{ story.synopsis }}</p>
            <p>{{ story.author }} | {{ story.date_posted }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 offset-md-1 col-md-10 story-div">
            {{ story.story }}
        </div>
    </div>
</section>

{% endblock %}