{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ story.title }} | MythMakers{% endblock %}

{% block content %}

<section class="container-fluid story-bg">
    <div class="row">
        <div class="col-md-12 header-container">
            <img class="img-fluid profile-header" src="{{ story.cover_image.url }}">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 offset-md-1 col-md-10 title-div">
            <h1>{{ story.title }}</h1>
            <p><em>{{ story.synopsis }}</em></p>
            <p><strong>{{ story.author }} | {{ story.date_posted }}</strong></p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 offset-md-1 col-md-10 story-div">
            <!-- Turn autoescape off to render HTML content -->
            {% autoescape off %}
            {{ story.story }}
            {% endautoescape %}
        </div>
    </div>
</section>

{% endblock %}