{% extends 'main/base.html' %}
{% load static %}

{% block title %}Stories | MythMakers{% endblock %}

{% block content %}

<section class="container-fluid main-bg">

        <div class="col-xs-12 col-md-2 filter-div"><h4>Filters</h4></div>
        <div class="col-xs-12 col-md-8 story-list">
        
            {% for story in stories %}

            <a href="{% url 'story' story.id %}" class="story-list-item">
                <div class="media">
                    <img class="list-thumb" src="{{ story.story_thumbnail.url }}">
                    <div class="media-body">
                        <h4 class="mt-0">{{ story.title }}</h4>
                        <p>{{ story.author }} | {{ story.date_posted }} | {{ story.story_likes }}</p>
                        <p>{{ story.synopsis }}</p>
                    </div>
                </div>
            </a>

            {% endfor %}
        </div>

        <div class="col-xs-12 col-md-2 upload-div">
            {% if user.is_authenticated %}
            <a href="{% url 'uploadstory' %}" class="btn btn-outline-success">Upload</a>
            {% else %}
            <h4>Register</h4>
            <p>Register to upload your own stories</p>
            <a class="btn btn-outline-success" href="{% url 'register' %}" role="button">Register</a>
            {% endif %}
        </div>
        
    </section>


{% endblock %}