/* Base Elements */

body {
    font-family: 'Questrial', sans-serif;
}

footer {
    background-color: #18121E;
    color: #EAC67A;
}

footer i {
    padding: 5px;
}

footer ul {
    padding: 5px;
}

footer ul li {
    display: inline;
    list-style: none;
    padding: 5px;
}

/* Navbar */

.navbar-dark {
    background-color: #18121E;
    color: #fff;
}

.navbar-brand {
    color: #EAC67A;
}

.navbar-dark .navbar-nav .nav-link {
    color: #EAC67A;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #EDB234;
}

.navbar-dark .navbar-toggler {
    border-color: #EAC67A;
    background-color: #18121E;
}

.nav-link {
    color: #EAC67A;
}

.dropdown-menu {
    background-color: #18121E;
}

/* Home Page */

.main-bg {
    height: 100vh;
    background: url('../images/home-image.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    background-color: rgb(152, 75, 67, 0.8)
}

.dark-section {
    background-color: #18121E;
    color: #FFF;
}

.dark-section h4 {
    color: #EAC67A;
}

.latest-col {
    padding: 20px;
}

.premium-div {
    padding: 20px;
}

/* Buttons */

.btn-outline-success {
    color: #EAC67A;
    border-color: #EAC67A;
}

.btn-outline-success:hover {
    color: #FFF;
    background-color: #EAC67A;
    border-color: #FFF;
}

.fas {
    color:#EAC67A;
  }

  /* Profile Page */

  .header-img {
    height: 20vh;
    background: url('../images/profile-header.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .user-details {
      border: 0.5px solid #233237;
      text-align: center;
      padding-top: 10px;
  }

  .activity-pane {
    padding-top: 10px;
  }


/* Media Queries */

@media (max-width: 575.98px) {
    .navbar-brand {
        width: 200px;
    }
}