body {
    font-family: 'Questrial', sans-serif;
}

.navbar-dark {
    background-color: #18121E;
    color: #fff;
}

.navbar-brand {
    color: #EAC67A;
}

.navbar-dark .navbar-nav .nav-link {
    color: #EAC67A;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #EDB234;
}

.nav-link {
    color: #EAC67A;
}

.btn-outline-success {
    color: #EAC67A;
    border-color: #EAC67A;
}

.btn-outline-success:hover {
    color: #FFF;
    background-color: #EAC67A;
    border-color: #FFF;
}

.navbar-dark .navbar-toggler {
    border-color: #EAC67A;
    background-color: #18121E;
}

.fa-bars {
    color:#EAC67A;
  }


/* Media Queries */

@media (max-width: 575.98px) {
    .navbar-brand {
        width: 200px;
    }
}