/* Base Elements */

body {
    font-family: 'Questrial', sans-serif;
}

footer {
    background-color: #18121E;
    color: #EAC67A;
}

footer p {
    padding: 10px;
}

footer i {
    padding: 5px;
}

footer ul {
    padding: 5px;
}

footer ul li {
    display: inline;
    list-style: none;
    padding: 5px;
}

.footer-links {
    color: #EAC67A;
}

.footer-links:hover {
    color: #EDB234;
    text-decoration: none;
}

.solid-bg {
    height: 100%;
    background-color: #233237;
}

/* Navbar */

.navbar-dark {
    background-color: #18121E;
    color: #fff;
}

.navbar-brand {
    color: #EAC67A;
}

.navbar-dark .navbar-nav .nav-link {
    color: #EAC67A;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #EDB234;
}

.navbar-dark .navbar-toggler {
    border-color: #EAC67A;
    background-color: #18121E;
}

.navbar-right {
    padding-right: 50px;
}

.dropdown-menu {
    background-color: #18121E;
}

.user-menu a {
    color: #EAC67A;
}

.user-menu a:hover {
    color: #EDB234;
}

.search-bar {
    display: inline;
}

/* Home Page */

.main-bg {
    height: 100vh;
    background: url('../images/home-image.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    background-color: rgb(152, 75, 67, 0.8)
}

.dark-section {
    background-color: #18121E;
    color: #FFF;
    padding-bottom: 40px;
}

.dark-section h1, h4 {
    color: #EAC67A;
}

.latest-col, .benefits-col {
    padding: 20px;
}

.premium-div {
    padding: 20px;
}

.latest-stories {
    display: inline-block;
}

.latest-title {
    color: #EAC67A;
    font-size: 18px;
    padding-top: 12px;
}

.latest-text {
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
}

/* About Page */

.side-div {
    padding-top: 30px;
    color: #fff;
}

/* Video List */

.filter-div {
    height: 100%;
    padding-top: 80px;
}

.video-list {
    height: 100%;
    padding-top: 80px;
}

.video-list-item {
    color: #fff;
}

.video-list-item:hover {
    text-decoration: none;
    color: #d7d9db;
}

.list-thumb {
    width: 240px;
    height: 135px;
}

.media {
    margin-bottom: 30px;
}

.media-body {
    margin-left: 20px;
}

.upload-div {
    height: 100%;
    padding-top: 80px;
}

.upload-div p {
    color: #fff;
    font-size: 14px;
}


/* Video Page */

video {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
}

.video-div {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.video-title {
    color: #EAC67A;
}

.vid-info {
    color: #fff;
}

.links-div {
    text-align: right;
}

/* Video Upload */

.upload {
    width: 600px;
}

.upload-label {
    font-weight: bold;
}

/* Storylist Page */

.story-list {
    height: 100%;
    padding-top: 80px;
    padding-right: 40px;
}

.story-list-item {
    color: #fff;
}

.story-list-item:hover {
    text-decoration: none;
    color: #d7d9db;
}

/* Story Page */

.title-div {
    text-align: center;
}

.title-div h1 {
    color: #EAC67A;
}

.title-div p {
    color: #fff;
}

.story-div {
    padding-bottom: 20px;
    color: #fff;
}

/* Upload Story Page */

.upload-story {
    width: 800px;
}

/* Audio List */

.audio-list {
    height: 100%;
    padding-top: 80px;
    padding-right: 40px;
}

.audio-list-item {
    color: #fff;
}

.audio-list-item:hover {
    text-decoration: none;
    color: #d7d9db;
}

/* Registration Page */

.errorlist {
    list-style: none;
    font-weight: bold;
}

/* User List Page */

.user-div {
    height: 100%;
    padding-top: 80px;
}

.user-card {
    margin: 10px;
    background-color: rgb(152, 75, 67, 0.8);
}

.card-title {
    margin-bottom: 5px;
}

.user-list-item {
    color: #fff;
}

.user-list-item:hover {
    text-decoration: none;
    color: #d7d9db;
}

/* Profile Page */

.header-container {
    padding: 0px;
}
  
.profile-header {
    width: 100%;
    height: 20vh;
}
  
.user-details {
    border: 0.5px solid #233237;
    text-align: center;
    padding-top: 10px;
}

.activity-pane {
    padding-top: 10px;
}

.upgrade-div {
    padding-top: 20px;
}

.display-btn {
    border-top: 1px solid #232323;
    border-left: 1px solid #232323;
    border-right: 1px solid #232323;
    border-radius: 0%;
    font-weight: bold;
}

.display-container {
    border: 1px solid #232323;
    padding: 30px;
}

.profile-body {
    color: #232323;
}

.d-block h4 {
    color: #232323;
}

.profile-list-item {
    color: #232323;
}

.profile-list-item:hover {
    text-decoration: none;
    color: #232323;
}

.upgrade-div p {
    font-size: 18px;
}

/* Edit Page */

.edit-field {
    width: 100%;
}

/* Benefits Page */

.benefits-col {
    text-align: center;
}

/* Stripe Elements - code adapted from Stripe Elements tutorial found at `https://stripe.com/docs/stripe-js` */

.StripeElement {
    box-sizing: border-box;  
    height: 40px;  
    padding: 10px 12px;  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}
  
.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}
  
.StripeElement--invalid {
    border-color: #fa755a;
}
  
.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#card-element {
    width: 100%;
    margin-bottom: 20px;
}

/* Buttons */

.btn-outline-success {
    color: #EAC67A;
    border-color: #EAC67A;
}

.btn-outline-success:hover {
    color: #FFF;
    background-color: #EAC67A;
    border-color: #FFF;
}

.edit-btn {
    background-color: #18121E;
    margin-bottom: 10px;
}

.edit-btn:hover {
    background-color: #291f33
}

.fas {
    color:#EAC67A;
  }

/* Media Queries */

@media (max-width: 575.98px) {
    .navbar-brand {
        width: 200px;
    }
    .footer-div {
        text-align: center;
    }
    .latest-stories {
        text-align: center;
    }
}